{
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "strict": 0,
    "indent": ["error", 2, {"SwitchCase": 1}],
    "linebreak-style": ["error", "unix"],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "prettier/prettier": "error",
    "semi": ["error", "always"],
    "prefer-arrow-callback": ["error"],
    "no-undef": "warn"
  }
}
